@model FinancialPortal.Models.Viewmodels.BankAccountDetailsViewModel

<div class="panel panel-default">
    <div class="panel-heading">@Model.BankName</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">
                        Summary
                    </th>
                </tr>
            </thead>
            @foreach (var prop in Model.Properties)
            {
                <tr>
                    <td>
                        @prop.Key
                    </td>
                    <td>
                        @prop.Value
                    </td>
                </tr>
            }
        </table>
        <br />
        @Html.Partial("_Transactions", Model.Transactions)
    </div>
</div>
