@model FinancialPortal.Models.Viewmodels.AccountBalanceEditor
<div class="form-group">
    @Html.LabelFor(m => m.BankAccountBalance)<br />
    <div class="input-group">
        <span class="input-group-addon">$</span>
        @Html.EditorFor(m => m.BankAccountBalance, new { htmlAttributes = new
                       {
                           @type = "number",
                           @step = "0.01", @class = "form-control", aria_label = "Account Balance",
                           @placeholder = Model.BankAccountBalance, @value = Model.BankAccountBalance
                       }})
    </div>
    @Html.ValidationMessageFor(m => m.BankAccountBalance, null, new { @class = "text-danger" })
</div>